@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}
*:focus {
  outline: none;
}

.font-russo {
  font-family: "Russo One", sans-serif;
  color: #202020;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navbar {
  @apply flex bg-[#202020] text-white w-full py-6  top-0 z-50  justify-center items-center sticky;
}

.navbar ul {
  @apply flex-col  bg-[#202020] top-full p-4 right-0 absolute hidden sm:flex sm:flex-row sm:p-0 sm:relative;
}

.navbar ul li a {
  @apply font-medium mx-1 text-xs text-white py-2 px-2 relative;
}

.navbar ul li a:after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}

.navbar .brand a img,
footer img {
  height: 35px !important;
  width: auto;
}

.navbar button {
  @apply bg-[#202020] fill-white text-sm text-white p-1.5 inline-block sm:hidden;
}

.navbar button svg {
  @apply h-4 w-4;
}

.navbar .container-c {
  @apply flex px-8 items-center justify-between;
}

.hero {
  background-image: url(../assets/hero-bg.jpg);
  background-position: 50% 0px;
  background-size: cover;
}

.container-c {
  @apply w-full max-w-[576px] md:max-w-[768px] lg:max-w-[992px] xl:max-w-[1140px];
}

.project-img {
  position: relative;
}

.project-img::after {
  content: "";
  height: calc(100% - 3.5rem);
  width: calc(1px / 2);
  position: absolute;
  top: 3.5rem;
  background-color: #d0cdcd;
  left: 50%;
  transform: translateX(-40%);
}

.project-img::before {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  background-color: #d0cdcd;
  transform: translateX(-40%);
}

.heading {
  @apply font-bold mb-14 text-3xl relative;
  font-family: "Russo One", sans-serif;
  color: #202020;
}

.heading::after {
  content: "";
  width: 56px;
  height: 6px;
  background-color: #202020;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.heading::before {
  content: "";
  width: 256px;
  height: 1px;
  background-color: #202020;
  position: absolute;
  bottom: -12px;
  left: 0;
}

a.active {
  position: relative;
}

a.active::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: -7px;
  background-color: #333;
  left: 0;
  border-radius: 50%;
}

.gallery-toggle {
  @apply cursor-pointer font-medium my-1 mr-3 text-sm py-2 inline-block;
}

.gallery-toggle.active {
  @apply relative;
}

.gallery-toggle.active::before {
  content: "";
  height: 7px;
  width: 7px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  border-radius: 50%;
  background-color: #d0cdcd;
  transform: translateX(-50%);
}
